<!-- Image blocks for 'Match Sound Byte with Artist Photo' -->
<p>Game Mode: Photo</p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../../assets/img-placholder.png" alt="Image 1">
    </div>
    <div class="col-4">
      <img src="../../assets/img-placholder.png" alt="Image 2">
    </div>
  </div> <br>
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../../assets/img-placholder.png" alt="Image 3">
    </div>
    <div class="col-4">
      <img src="../../assets/img-placholder.png" alt="Image 4">
    </div>
  </div>
</div>
