<!-- TELL THEM WHAT TO DO -->
<div class="container" id="game-textbox-name" style="z-index: 2">
  <h2 class="play-name">play !</h2>
  <p class="game-text-name">Match the sound-byte with the artist's name.</p>
</div>


<!-- SOUND WAVES -->
<div class="container" id="wave-shadow" style="width: 36vw; position: relative; object-fit: cover; z-index: 1;">
  <div class="soundbar" id="soundbox">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>

<div class="container">
  {{#each artists}}
  <div class="row justify-content-center mb-2">
    <div class="col d-flex justify-content-center">
      <button class="btn btn-secondary name-choice" data-artist-id="{{this.id}}" type="button"
        style="width: 400px; height: 50px;" onclick="window.location.reload();">{{this.name}}</button>
    </div>
  </div>
  {{/each}}
</div>

<audio id="audioPlayer" controls autoplay>
  <source src='{{previewTrackUrl}}' id="audioSource" type="audio/mpeg">
</audio>

<a href="quiz/results">View results</a>










