<div class="dropdown row justify-content-center" id="genre-dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
        aria-expanded="false" style="width: 20vw;">
        Genres | Categories
      </button>
      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2" style="width: 20vw;"
        id="genre-list">
        <li><a class="dropdown-item" href="#"> Pop Rock</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#"> Classic Country</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#"> 60s Hits</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#"> Death Metal</a></li>
      </ul>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-3">
        <div class="card">
          <h5 class="card-header">Match Song + Artist Photo</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Play!</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <h5 class="card-header">Match Song + Artist Name</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Play!</a>
          </div>
        </div>
      </div>
    </div>