<!-- Nav Bar with Login -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">QuiZify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rules</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Some Kind of Nav Dropdown?
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Option 1</a></li>
            <li><a class="dropdown-item" href="#">Option 2</a></li>
            <li><a class="dropdown-item" href="#">Option 3</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Conditionally render login or logout links -->
  {{#if logged_in}}
  <a href="/profile">profile</a> |
  <button class="btn btn-outline-dark" id="logout">Logout</button>
  {{else}}
  <a href="/auth/deezer">Login</a>
  {{/if}}
</nav>

<h1>Welcome, {{user.name}}!</h1>


<p>Created by on {{format_date project.date_created}}</p>
</div>
<div class="col-md-7">
  <p>
    {{project.description}}
  </p>
</div>
</div>
{{/each}}