
  <div class="container-fluid" id="table-contain">
    <p class="text-center" id="song-queue">Song Queue:</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 22%">Remove</th>
          <th scope="col" style="width: 56%" class="track-col">Track</th>
          <th scope="col" style="width: 22%">Play</th>
        </tr>
      </thead>
      <tbody>
{{#if songs.length}}
        <tr>
          <th scope="row" class="delete-icon">⛔</th>
{{#each songs as |song|}}
          <td scope><a href="/songs/{{song.id}}">{{song.title}} by {{song.artist.name}}</a></td>
          <td class="play-icon" data-id="{{song.id}}">▶︎</td>
      {{/each}}
        </tr>
  {{/if}}
      </tbody>
    </table>
  </div>

