:root {
  --neon-pink: #ff0080;
  --neon-blue: #008AF6;
  --neon-green: #26f600;
  --neon-yellow: #F1F751;

  --dark-grey: #676767;
  --midnight-blue:
    --white: #ffffff;
  --navbar:
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/** HOMEPAGE **/
h1 {
  font-size: 80px;
  font-family: 'Chelsea Market',
    cursive;
  text-align: center;
  margin-top: .3em;
  margin-bottom: .3em;
  position: relative;
}

#navback {
  font-size: 24px;
  padding-left: 30px;
  background-color: #d1d1d18d !important;
  height: 3.1em;
}

#navbar-text {
  font-size: 24px;
  padding-left: 20px;
  background-color: #d1d1d100 !important;
}

#spacer {
  border-right: 1px solid rgba(83, 82, 82, 0.853);
}

#welcome {
  font-size: 36px;
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
}

#logo-text {
  font-family: 'Chelsea Market',
    cursive;
  font-size: 68px;
}

.login {
  font-size: 28px;
  font-family: 'Chelsea Market', cursive;
  margin-right: 48px;
  background-color: #cecece00;
  border: none;
}

.login:hover {
  background-color: #cecece00;
  text-shadow: 2px 1px var(--neon-blue);
  transition: .2s ease-in-out;
  transform: scale(1.5);
}

#boombox {
  margin: 4.4em auto 5em auto;
}

.background-container {
  position: relative;
}

.genre-dropdown {
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--neon-pink);
  text-align: center;
  height: 4.4rem;
  margin-top: auto;
}

#footer-text {
  font-size: 24px !important;
}

/* - - - - - - - - - - - - - - - - - -  */
/** PROFILE PAGE **/
#song-queue {
  font-family: 'Tilt Neon', cursive;
  font-size: 60px;
  margin-top: .1em;
  color: #2b2b2bec;
  text-shadow: 1px 1px 0 whitesmoke, 4px 3px 4px var(--neon-blue);
  order: 1;
}

.table {
  margin-top: .3em;
  order: 2;
}

#table-contain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

table {
  max-width: 56%;
  justify-content: center;
  border: 1px solid black !important;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  font-size: 26px;
}

.track-col {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

thead {
  background-color: rgba(0, 0, 0, 0.689);
}

tbody {
  background-color: rgba(0, 0, 0, 0.386);
}

th,
td {
  text-align: center;
  color: white !important;
}

.play-icon {
  color: var(--neon-green) !important;
}

.delete-icon {}

/* - - - - - - - - - - - - - - - - - -  */
/** GAME BOARD **/
.gameboard-title {
  background-color: #2b2b2b !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .3em;
  padding-bottom: .3em;
  color: rgb(230, 230, 230);
  text-shadow: 3px 3px 3px var(--neon-pink);
}

#music-wild {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../assets/gameboard-bg.png');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

#game-textbox {
  background-color: #9E69AE;
  color: white;
  position: relative;
  margin-top: 1em;
  width: 48em;
  height: 10em;
  border-radius: 18px;
  text-align: center;
  padding: 12px;
}

#soundwave {
  height: 75px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

#artist-image {
  justify-content: center;
}

.play {
  font-family: 'Chelsea Market',
    cursive;
  font-size: 60px;
  color: var(--white);
  text-shadow: 2px 2px 2px #2b2b2b;
}

.game-text {
  color: var(--white);
  font-size: 33px;
  text-shadow: 1px 1px 3px #2b2b2b;
}


/* SOUNDWAVE ANIMATION */
/* https://github.com/smarttechtip/*/
#wave-shadow {}

.soundbar {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow:
    0 1px 1px 1px rgba(255, 255, 255, 0.8),
    0 3.5px 3.5px 3.5px rgba(255, 255, 255, 0.65),
    0 5px 5px 5px rgba(255, 255, 255, 0.5),
    0 6.5px 6.5px 6.5px rgba(255, 255, 255, 0.35),
    0 8px 8px 8px rgba(255, 255, 255, 0.2),
    0 10px 10px 10px rgba(255, 255, 255, 0.05);
}

#soundbox {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.wave {
  width: 3px;
  height: 70px;
  background: linear-gradient(50deg, #ff0080, white, #ff0080);
  margin: 7px;
  animation: wave 1s infinite linear;
}

.wave:nth-child(2) {
  animation-delay: 0.2s;
}

.wave:nth-child(3) {
  animation-delay: 0.4s;
}

.wave:nth-child(4) {
  animation-delay: 0.6s;
}

.wave:nth-child(5) {
  animation-delay: 0.8s;
}

.wave:nth-child(6) {
  animation-delay: 1s;
}

.wave:nth-child(7) {
  animation-delay: 1.2s;
}

.wave:nth-child(8) {
  animation-delay: 0.2s;
}

.wave:nth-child(9) {
  animation-delay: 0.4s;
}

.wave:nth-child(10) {
  animation-delay: 0.6s;
}

.wave:nth-child(11) {
  animation-delay: 0.8s;
}

.wave:nth-child(12) {
  animation-delay: 1s;
}

.wave:nth-child(13) {
  animation-delay: 1.2s;
}

.wave:nth-child(14) {
  animation-delay: 0.2s;
}

.wave:nth-child(15) {
  animation-delay: 0.4s;
}

.wave:nth-child(16) {
  animation-delay: 0.6s;
}

.wave:nth-child(17) {
  animation-delay: 0.8s;
}

.wave:nth-child(18) {
  animation-delay: 1s;
}

.wave:nth-child(19) {
  animation-delay: 1.2s;
}

.wave:nth-child(20) {
  animation-delay: 0.2s;
}

.wave:nth-child(21) {
  animation-delay: 0.4s;
}

.wave:nth-child(22) {
  animation-delay: 0.6s;
}

.wave:nth-child(23) {
  animation-delay: 0.8s;
}

.wave:nth-child(24) {
  animation-delay: 1s;
}

.wave:nth-child(25) {
  animation-delay: 1.2s;
}

.wave:nth-child(26) {
  animation-delay: 0.2s;
}

.wave:nth-child(27) {
  animation-delay: 0.4s;
}

.wave:nth-child(28) {
  animation-delay: 0.6s;
}

.wave:nth-child(29) {
  animation-delay: 0.8s;
}

.wave:nth-child(30) {
  animation-delay: 1s;
}

.wave:nth-child(31) {
  animation-delay: 1.2s;
}

.wave:nth-child(32) {
  animation-delay: 0.2s;
}

.wave:nth-child(33) {
  animation-delay: 0.4s;
}

.wave:nth-child(34) {
  animation-delay: 0.6s;
}

.wave:nth-child(35) {
  animation-delay: 0.8s;
}

.wave:nth-child(36) {
  animation-delay: 1s;
}

.wave:nth-child(37) {
  animation-delay: 1.2s;
}

.wave:nth-child(38) {
  animation-delay: 0.2s;
}

.wave:nth-child(39) {
  animation-delay: 0.4s;
}

.wave:nth-child(40) {
  animation-delay: 0.6s;
}

.wave:nth-child(41) {
  animation-delay: 0.8s;
}

.wave:nth-child(42) {
  animation-delay: 1s;
}

.wave:nth-child(43) {
  animation-delay: 1.2s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }

}